.demo_icon {
  .demo_box {
    [class^='wm-icon-'] {
      font-size: 20px;
      margin: 5px 15px;
    }
  }
}
.icon_list {
  border-top: 1px solid $bcolor;
  border-left: 1px solid $bcolor;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  > div {
    width: 16.66%;
    border-bottom: 1px solid $bcolor;
    border-right: 1px solid $bcolor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    cursor: pointer;
    i {
      margin: 24px 0;
      font-size: 28px !important;
    }
    &:hover {
      color: $tcolor;
    }
  }
}
