* {
  box-sizing: border-box;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  background-image: url('@/assets/images/bac.png');
  > #app {
    height: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  &:focus-visible {
    outline: none;
  }
}

[class^='wm-icon-'] {
  font-family: 'wm-icon' !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*滚动条样式*/

// 高宽分别对应横竖滚动条的尺寸
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

$scrollbarShadow: rgba(128, 128, 128, 0.2);
// 滚动条里面小方块
::-webkit-scrollbar-thumb {
  border-radius: 14px;
  box-shadow: inset 0 0 5px $scrollbarShadow;
  -webkit-box-shadow: inset 0 0 5px $scrollbarShadow;
  background: $scrollbarShadow;
}

// 滚动条里面轨道
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.1);
  -webkit-box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.1);
  border-radius: 14px;
  background: #ededed;
}

/* ----------- 公共样式 -------------- */
.example_box {
  color: rgb(92, 91, 91);
  padding-bottom: 20px;
  h3 {
    color: #000;
    font-size: 18px;
    margin: 15px 0;
    a {
      opacity: 0;
      color: $tcolor;
    }
    &:hover {
      a {
        opacity: 1;
      }
    }
  }

  code {
    margin: 0 1px;
    padding: 0.2em 0.4em;
    font-size: 0.9em;
    background: #f2f4f5;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
  }
}
